html {
  min-height: 100vw;
  background: #FF512F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #F09819, #FF512F);
  background: -o-linear-gradient(left, #F09819, #FF512F);
  background: linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  margin: 0;
}
